<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/model}">

<head>
    <title th:text="${update == true ? 'Small Trade Manager - Atualizar Produto' : 'Small Trade Manager - Visualizar Produto'}"></title></head>
<body>
<div class="container" layout:fragment="conteudo">
    <div class="my-3 text-center">
        <img alt="Fornecedor" class="img-fluid mx-3" height="50" th:src="@{/img/product.svg}" width="50"/>
        <h2 th:text="${update == true ? 'Atualizar Produto' : 'Visualizar Produto'}"></h2>
    </div>
</div>

<div class="container" layout:fragment="conteudo-tabela">
    <form action="#" th:action="@{/product/add}" th:object="${produto}" method="POST">
        <input type="hidden" th:field="*{id}" />
        
        <div class="form-row">
            <div class="col-md-6 form-group">
                <label for="name">Nome</label>
                <input type="text" th:field="*{nome}" class="form-control"  placeholder="Headset Gamer HyperX Cloud Revolver" th:readonly="!${update}"/>
            </div>

            <div class="col-md-6 form-group">
                <label for="amount">Fornecedor</label>
                <select class="form-control"  th:field="*{fornecedor}" th:disabled="!${update}">
                    <option th:each="sup : ${listaFornecedores}"
                          th:value="${sup.id}"
                          th:text="${sup.nomeFantasia}"></option>
                </select>
            </div>

        </div>

        <div class="form-row">

            <div class="col-md-6 form-group">
                <label for="unity">Unidade</label>
                <select  th:field="*{unidade}" class="form-control" th:disabled="!${update}">
                    <option disabled selected value="">Escolha uma unidade de medida</option>
                    <option th:value="CT" th:text="CT">CT</option>
                    <option th:value="CX" th:text="CX">CX</option>
                    <option th:value="DZ" th:text="DZ">DZ</option>
                    <option th:value="GS" th:text="GS">GS</option>
                    <option th:value="PA" th:text="PA">PA</option>
                    <option th:value="PR" th:text="PR">PR</option>
                    <option th:value="PT" th:text="PT">PT</option>
                    <option th:value="PÇ" th:text="PÇ">PÇ</option>
                    <option th:value="RL" th:text="RL">RL</option>
                    <option th:value="UN" th:text="UN">UN</option>
                    <option th:value="cm" th:text="cm">cm</option>
                    <option th:value="cm2"th:text="cm2">cm2</option>
                    <option th:value="g"  th:text="g">g</option>
                    <option th:value="kg" th:text="kg">kg</option>
                    <option th:value="l"  th:text="l">l</option>
                    <option th:value="m"  th:text="m">m</option>
                    <option th:value="m2" th:text="m2">m2</option>
                    <option th:value="m3" th:text="m3">m3</option>
                    <option th:value="ml" th:text="ml">ml</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 form-group">
                <label for="gross_price">Preço Bruto</label>
                <input class="form-control"   type="text" th:field="*{precoBruto}"  placeholder="420.00" th:readonly="!${update}"/>
            </div>
            <div class="col-md-6 form-group">
                <label for="net_price">Preço Líquido</label>
                <input class="form-control"   type="text" th:field="*{precoLiquido}"  placeholder="420.00" th:readonly="!${update}"/>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 form-group">
                <label for="minimum_stock">Estoque Mínimo</label>
                <input class="form-control"  th:field="*{estoqueMin}"  placeholder="5" type="text" th:readonly="!${update}"/>
            </div>
            <div class="col-md-6 form-group">
                <label for="maximum_stock">Estoque Máximo</label>
                <input class="form-control"  th:field="*{estoqueMax}"  placeholder="50" type="text" th:readonly="!${update}"/>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 form-group">
                <label for="amount">Quantidade</label>
                <input class="form-control"  th:field="*{qtd}"  placeholder="30" type="text" th:readonly="!${update}"/>
            </div>
            <div class="col-md-6 form-group">
                <label for="weigth">Peso</label>
                <input class="form-control" th:field="*{peso}"  placeholder="1.270" type="text" th:readonly="!${update}"/>
            </div>
        </div>


        <div class="form-row">
            <div class="col-md-6 form-group">
                <label for="amount">Origem</label>
                <select class="form-control"  th:field="*{origem}" th:disabled="!${update}">
                    <option th:each="inicial : ${T(com.uem.simple.manager.model.enums.Origem).values()}"
                          th:value="${inicial}"
                          th:text="${inicial.origem}"></option>
                </select>
            </div>
            <div class="col-md-6 form-group">
                <label for="weigth">Carga horária (min)</label>
                <input class="form-control" th:field="*{cargaHoraria}"  type="text" th:readonly="!${update}"/>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 form-group">
                <label for="amount">Tipo</label>
                <select class="form-control"  th:field="*{tipoProduto}" th:disabled="!${update}">
                    <option th:each="tp : ${T(com.uem.simple.manager.model.enums.TipoProduto).values()}"
                          th:value="${tp}"
                          th:text="${tp.tipo}"></option>
                </select>
            </div>

            <div class="col-md-6 form-group">
                <label for="amount">Ativo</label>
                <select class="form-control"  th:field="*{ativo}" th:disabled="!${update}">
                    <option th:each="a : ${T(com.uem.simple.manager.model.enums.Ativo).values()}"
                          th:value="${a}"
                          th:text="${a.Ativo}"></option>
                </select>
            </div>
        </div>


        <div th:hidden="!${update}">
            <button class="btn btn-primary" type="submit">Atualizar</button>
            <a class="btn btn-info" th:href="@{/product}">Voltar</a>
        </div>
        
    </form>
    <a th:hidden="${update}" class="btn btn-info" th:href="@{/product}">Voltar</a>
</div>
</body>
</html>